* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

@media (min-width: 768px) {
  html {
    overflow: hidden;
  }
}

body {
  counter-reset: realizations;
}

.bg-first,
.bg-second,
.bg-third,
.bg-fourth,
.bg-fifth {
  position: fixed;
  top: 0;
  left: 51%;
  width: 1px;
  min-height: 100vh;
  background-color: #6e6e6e;
  opacity: 0.1;
  z-index: 2;
}

@media (min-width: 768px) {
  .bg-first {
    left: 33%;
  }
}

@media (min-width: 1024px) {
  .bg-first {
    left: 16.666%;
  }
}

.bg-second,
.bg-third,
.bg-fourth,
.bg-fifth {
  opacity: 0;
}

@media (min-width: 768px) {
  .bg-second {
    left: 66%;
    opacity: 0.1;
  }
}

@media (min-width: 1024px) {
  .bg-second {
    left: 33.332%;
  }
}

@media (min-width: 1024px) {
  .bg-third {
    left: 49.998%;
    opacity: 0.1;
  }
}

@media (min-width: 1024px) {
  .bg-fourth {
    left: 66.664%;
    opacity: 0.1;
  }
}

@media (min-width: 1024px) {
  .bg-fifth {
    left: 83.33%;
    opacity: 0.1;
  }
}

.arrow {
  position: absolute;
  bottom: 50px;
  left: 20px;
  width: 30px;
  height: 30px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-animation: arrowUpDown 3s infinite both ease;
          animation: arrowUpDown 3s infinite both ease;
}

@media (orientation: landscape) {
  .arrow {
    left: 10px;
  }
}

@media (min-width: 768px) {
  .arrow {
    left: 40px;
  }
}

.arrow__icon {
  width: 100%;
  height: 100%;
  background: url("../assets/arrow.svg") no-repeat center/cover;
}

.arrow__element {
  width: 2px;
  height: 80px;
  -webkit-transform: translate(14px, 10px);
          transform: translate(14px, 10px);
  background-color: #fff;
}

@-webkit-keyframes arrowUpDown {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes arrowUpDown {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.arrow-inactive {
  opacity: 0;
}

.scroll {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20px;
  background-color: #fff;
  z-index: 5;
}

@media (min-width: 768px) {
  .scroll {
    display: block;
  }
}

.scroll__bar {
  position: fixed;
  top: 20px;
  right: 0;
  width: 20px;
  height: 120px;
  background-color: #171717;
  -webkit-transition: top .8s, background-color .8s;
  transition: top .8s, background-color .8s;
}

.container {
  position: relative;
  min-height: 100vh;
  border: 10px solid #fff;
  border-top: none;
  border-right: none;
  border-bottom: none;
  background-color: #171717;
}

@media (min-width: 768px) {
  .container {
    border: 20px solid #fff;
    border-top: none;
    border-right: none;
  }
}

.body-hidden {
  overflow: hidden;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: #171717;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 80px;
  border-top: 10px solid #fff;
}

@media (min-width: 768px) {
  .header {
    height: 120px;
    border-top: 20px solid #fff;
  }
}

.header__logo {
  position: relative;
  width: 160px;
  padding: 35px 0 0 30px;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.header__logo:hover {
  opacity: .5;
}

@media (min-width: 768px) {
  .header__logo {
    position: fixed;
    width: 190px;
    padding: 60px 0 0 60px;
  }
}

.header__item {
  font-size: 1.6rem;
}

.header__item--bold {
  font-weight: 700;
}

.menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 40px;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 999;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-burger {
    top: 80px;
    right: 80px;
  }
}

.menu-burger__bar {
  width: 65%;
  height: 3px;
  margin: 3px 0;
  background-color: #fff;
  -webkit-transition: width .2s, -webkit-transform 0.4s;
  transition: width .2s, -webkit-transform 0.4s;
  transition: transform 0.4s, width .2s;
  transition: transform 0.4s, width .2s, -webkit-transform 0.4s;
}

@media (min-width: 768px) {
  .menu-burger__bar {
    width: 90%;
    height: 4px;
  }
}

.menu-burger__bar:nth-child(1), .menu-burger__bar:nth-child(3) {
  width: 50%;
}

@media (min-width: 768px) {
  .menu-burger__bar:nth-child(1), .menu-burger__bar:nth-child(3) {
    width: 70%;
  }
}

.menu-burger__bar--active:nth-child(2) {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.menu-burger__bar--active:nth-child(1), .menu-burger__bar--active:nth-child(3) {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}

.menu-burger::before, .menu-burger::after {
  content: "";
  position: fixed;
  right: 0;
  width: 10px;
  background-color: #fff;
  pointer-events: none;
}

@media (min-width: 768px) {
  .menu-burger::before, .menu-burger::after {
    display: none;
  }
}

.menu-burger::before {
  top: 0;
  height: 42px;
}

.menu-burger::after {
  top: 80px;
  height: 100vh;
}

@media (min-width: 768px) {
  .menu-burger:hover .menu-burger__bar:nth-child(1),
  .menu-burger:hover .menu-burger__bar:nth-child(3) {
    -webkit-transform: translateX(-6px);
            transform: translateX(-6px);
  }
}

@media (min-width: 768px) {
  .menu-burger:hover .menu-burger__bar:nth-child(2) {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

@media (min-width: 768px) {
  .menu-burger:hover .menu-burger__bar:nth-child(1).menu-burger__bar--active,
  .menu-burger:hover .menu-burger__bar:nth-child(3).menu-burger__bar--active {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

.menu-mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  border-top: none;
  border-left: 10px solid #fff;
  border-bottom: 10px solid #fff;
  background-color: #171717;
  z-index: 998;
  -webkit-transition: opacity .4s, background-color .4s;
  transition: opacity .4s, background-color .4s;
}

@media (min-width: 768px) {
  .menu-mobile {
    border: 20px solid #fff;
    border-top: none;
  }
}

.menu-mobile--active-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-mobile--active-opacity {
  opacity: 1;
}

.menu-mobile__list {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
}

.menu-mobile__item {
  margin: 20px;
  padding: 10px;
  font-size: 2.4rem;
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-mobile__item {
    font-size: 3.2rem;
  }
}

@media (min-width: 1024px) {
  .menu-mobile__item {
    font-size: 4.2rem;
  }
}

.menu-desktop {
  position: relative;
  opacity: 0;
  z-index: 6;
  cursor: default;
}

@media (min-width: 768px) {
  .menu-desktop--active {
    opacity: 1;
  }
}

.menu-desktop::before {
  content: '';
  position: fixed;
  top: 90px;
  left: 230px;
  width: 3px;
  height: 18px;
  background-color: #171717;
  -webkit-animation: showBar 2s 1s both;
          animation: showBar 2s 1s both;
}

.menu-desktop__item {
  opacity: 0;
}

@media (min-width: 768px) {
  .menu-desktop__item {
    position: fixed;
    top: 90px;
    left: 230px;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .menu-desktop__item-text {
    -webkit-animation: showMenuResult .5s .5s linear both;
            animation: showMenuResult .5s .5s linear both;
  }
  @-webkit-keyframes showMenuResult {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 0;
    }
    to {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
      opacity: 1;
    }
  }
  @keyframes showMenuResult {
    from {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 0;
    }
    to {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
      opacity: 1;
    }
  }
}

@-webkit-keyframes showBar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showBar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  cursor: default;
}

.content__container {
  margin: 50px 30px 0;
}

@media (orientation: landscape) {
  .content__container {
    margin: 0px 30px 0;
  }
}

@media (min-width: 768px) {
  .content__container {
    margin: 0 60px 0;
  }
}

.content__title {
  height: 130px;
  font-size: 2.4rem;
}

@media (orientation: landscape) {
  .content__title {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .content__title {
    font-size: 3.2rem;
  }
}

@media (min-width: 1024px) {
  .content__title {
    font-size: 4.2rem;
  }
}

@media (min-width: 1440px) {
  .content__title {
    font-size: 5.2rem;
  }
}

@media (min-width: 1600px) {
  .content__title {
    font-size: 6.2rem;
  }
}

.content__description {
  margin-top: 25px;
  font-size: 1.2rem;
}

@media (orientation: landscape) {
  .content__description {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .content__description {
    margin-top: 50px;
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .content__description {
    width: 80%;
    font-size: 1.8rem;
  }
}

@media (min-width: 1440px) {
  .content__description {
    margin-top: 100px;
    font-size: 2rem;
  }
}

@media (min-width: 1600px) {
  .content__description {
    margin-top: 140px;
    font-size: 2.4rem;
  }
}

.equipment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  min-height: 100vh;
  padding-bottom: 75px;
  background: url("../assets/base2blue.png") no-repeat center/cover;
  background-color: #0F3BCF;
  cursor: default;
}

@media (min-width: 768px) {
  .equipment {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .equipment {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.equipment__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  min-height: 250px;
  padding: 20px;
  border-bottom: 1px solid rgba(23, 23, 23, 0.1);
  background: url("../assets/invisible.png") no-repeat center/cover;
  -webkit-transition: background-image .3s;
  transition: background-image .3s;
  z-index: 3;
}

@media (min-width: 768px) {
  .equipment__item:nth-child(odd) {
    border-right: 1px solid rgba(23, 23, 23, 0.1);
  }
}

@media (min-width: 1024px) {
  .equipment__item:not(:nth-child(4)), .equipment__item:not(:nth-child(8)) {
    border-right: 1px solid rgba(23, 23, 23, 0.1);
  }
}

.equipment__item:hover {
  -webkit-transition: background-image .3s;
  transition: background-image .3s;
}

.equipment__item:nth-child(2):hover {
  background: url("../assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(3):hover {
  background: url("../assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(4):hover {
  background: url("../assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(5):hover {
  background: url("../assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(6):hover {
  background: url("../assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(7):hover {
  background: url("../assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(8):hover {
  background: url("../assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(9):hover {
  background: url("../assets/truck1.png") no-repeat center/cover;
}

.equipment__number {
  font-size: 1.4rem;
}

.equipment__number::after {
  content: '';
  display: block;
  width: 18px;
  height: 3px;
  margin-top: 6px;
  background-color: #caa708;
}

.equipment__title {
  min-height: 55px;
  margin-top: 25px;
  font-size: 2.2rem;
}

.equipment__type {
  min-height: 30px;
  font-size: 1.2rem;
  word-spacing: 10px;
}

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .name {
    display: none;
  }
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: #442b2b;
}

@media (min-width: 768px) {
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    min-height: 100vh;
  }
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  cursor: default;
}

@media (min-width: 768px) {
  .about__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 40px;
  }
  .about__wrapper:nth-child(2) {
    padding-right: 0;
    padding-left: 40px;
  }
}

.about__title {
  padding: 0 20px;
  font-size: 2.2rem;
}

@media (min-width: 768px) {
  .about__title {
    padding: 0 0 20px 20px;
    font-size: 2.4rem;
  }
}

@media (min-width: 1024px) {
  .about__title {
    font-size: 3.2rem;
  }
}

@media (min-width: 1440px) {
  .about__title {
    padding: 0 0 40px 20px;
    font-size: 3.6rem;
  }
}

.about__description {
  padding: 20px 20px 40px;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .about__description {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .about__description {
    font-size: 1.8rem;
  }
}

@media (min-width: 1440px) {
  .about__description {
    font-size: 2.2rem;
  }
}

@media (min-width: 1600px) {
  .about__description {
    font-size: 2.4rem;
  }
}

.about__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 30px 30px;
  padding: 10px 15px;
  border: 2px solid #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.about__button:hover {
  background-color: #fff;
  color: #442b2b;
}

@media (min-width: 768px) {
  .about__button {
    padding: 10px 25px;
    margin: 0 30px 50px;
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .about__button {
    font-size: 1.6rem;
  }
}

@media (min-width: 1440px) {
  .about__button {
    margin: 0 30px 70px;
    font-size: 2rem;
  }
}

@media (min-width: 1600px) {
  .about__button {
    font-size: 2.2rem;
  }
}

.realizations {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 75px 1fr 1fr 1fr;
      grid-template-rows: 75px 1fr 1fr 1fr;
  width: 100%;
  min-height: 100vh;
  background-color: #2fa79d;
  overflow: hidden;
  cursor: default;
}

@media (min-width: 768px) {
  .realizations {
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .realizations {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.realizations__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  padding: 20px 30px 0;
  background: url("../assets/invisible.png") no-repeat center/cover;
  -webkit-transition: background-image 2s;
  transition: background-image 2s;
  z-index: 3;
}

.realizations__item:hover {
  background: url("../assets/base1aqua.png") no-repeat center/cover;
  -webkit-transition: background-image 1s;
  transition: background-image 1s;
}

.realizations__item:hover .realizations-wrapper {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.realizations__item:hover .realizations__more-description {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 1;
}

.realizations__item::before {
  content: '';
  position: absolute;
  top: 43%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4px;
  height: 100px;
  background-color: #171717;
  -webkit-transition: height 1s, background-color 1s;
  transition: height 1s, background-color 1s;
}

@media (min-width: 768px) {
  .realizations__item::before {
    top: 47%;
  }
}

.realizations__item:hover::before {
  height: 200px;
  background-color: #fff;
}

@media (min-width: 1024px) {
  .realizations__item::after {
    counter-increment: realizations;
    content: "0" counter(realizations);
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 26rem;
    color: rgba(53, 187, 176, 0.2);
    pointer-events: none;
  }
}

@media (min-width: 1440px) {
  .realizations__item::after {
    font-size: 32rem;
  }
}

@media (min-width: 1600px) {
  .realizations__item::after {
    font-size: 36rem;
  }
}

.realizations__title {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .realizations__title {
    font-size: 3.2rem;
  }
}

.realizations__description {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .realizations__description {
    font-size: 1.4rem;
  }
}

.realizations-wrapper {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.realizations__more-description {
  height: 130px;
  opacity: 0;
  font-size: 1.2rem;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s, -webkit-transform 1s;
}

@media (min-width: 1024px) {
  .realizations__more-description {
    font-size: 1.4rem;
  }
}

.contact {
  width: 100%;
  min-height: 100vh;
  border-bottom: 10px solid #fff;
  background-color: #caa708;
  cursor: default;
}

@media (min-width: 768px) {
  .contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    border-bottom: 20px solid #fff;
  }
}

@media (min-width: 1440px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .contact__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1440px) {
  .contact__wrapper {
    width: 100%;
  }
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  margin-bottom: 20px;
}

.contact__address .contact__icon {
  background: url("../assets/place.svg") no-repeat center/50%;
}

.contact__address .contact__icon:hover {
  border-radius: 50%;
  background: url("../assets/place-white.svg") no-repeat center/50%;
  background-color: #171717;
}

.contact__email .contact__icon {
  background: url("../assets/email.svg") no-repeat center/50%;
}

.contact__email .contact__icon:hover {
  border-radius: 50%;
  background: url("../assets/email-white.svg") no-repeat center/50%;
  background-color: #171717;
}

@media (min-width: 768px) {
  .contact__number-first {
    margin-left: 45px;
  }
  .contact__number-second {
    margin-right: 83px;
  }
  .contact__address {
    margin-left: 105px;
  }
  .contact__email {
    margin-right: 80px;
  }
}

@media (min-width: 1024px) {
  .contact__number-first {
    margin-left: 60px;
  }
  .contact__number-second {
    margin-right: 93px;
  }
  .contact__address {
    margin-left: 125px;
  }
  .contact__email {
    margin-right: 80px;
  }
}

@media (min-width: 1440px) {
  .contact__number-second {
    margin-right: 100px;
  }
  .contact__address {
    margin-left: 140px;
  }
  .contact__email {
    margin-right: 80px;
  }
}

@media (min-width: 1600px) {
  .contact__number-first {
    margin-left: 65px;
  }
  .contact__number-second {
    margin-right: 110px;
  }
  .contact__address {
    margin-left: 155px;
  }
  .contact__email {
    margin-right: 90px;
  }
}

.contact__icon-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 1px solid rgba(23, 23, 23, 0.1);
  z-index: 4;
}

.contact__icon-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #caa708;
}

.contact__icon {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url("../assets/phone.svg") no-repeat center/50%;
  -webkit-transition: background-image .4s, background-color .4s;
  transition: background-image .4s, background-color .4s;
}

.contact__icon:hover {
  border-radius: 50%;
  background: url("../assets/phone-white.svg") no-repeat center/50%;
  background-color: #171717;
}

.contact__info {
  font-size: 1.6rem;
}

@media (min-width: 1024px) {
  .contact__info {
    font-size: 2rem;
  }
}

@media (min-width: 1600px) {
  .contact__info {
    font-size: 2.2rem;
  }
}

.contact__info--bold {
  margin-top: 5px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #171717;
}

@media (min-width: 1024px) {
  .contact__info--bold {
    font-size: 2.2rem;
  }
}

@media (min-width: 1600px) {
  .contact__info--bold {
    font-size: 2.4rem;
  }
}

.contact .name {
  margin-bottom: 40px;
}
/*# sourceMappingURL=main.css.map */