* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  background-color: #171717;
  min-height: 100vh;
  margin: 10px;
}

@media (min-width: 768px) {
  .container {
    margin: 20px;
  }
}

.bg-first,
.bg-second,
.bg-third,
.bg-fourth,
.bg-fifth {
  position: fixed;
  top: 0;
  left: 50%;
  min-height: 100vh;
  width: 1px;
  background-color: #6e6e6e;
  opacity: 0.1;
}

@media (min-width: 768px) {
  .bg-first {
    left: 33%;
  }
}

@media (min-width: 1024px) {
  .bg-first {
    left: 16%;
  }
}

.bg-second,
.bg-third,
.bg-fourth,
.bg-fifth {
  opacity: 0;
}

@media (min-width: 768px) {
  .bg-second {
    opacity: 0.1;
    left: 66%;
  }
}

@media (min-width: 1024px) {
  .bg-second {
    left: 32%;
  }
}

@media (min-width: 1024px) {
  .bg-third {
    opacity: 0.1;
    left: 48%;
  }
}

@media (min-width: 1024px) {
  .bg-fourth {
    opacity: 0.1;
    left: 64%;
  }
}

@media (min-width: 1024px) {
  .bg-fifth {
    opacity: 0.1;
    left: 82%;
  }
}

.header {
  position: relative;
  height: 80px;
  color: #fff;
}

.header__logo {
  width: 160px;
  padding: 35px 0 0 30px;
}

.header__item {
  font-size: 1.6rem;
}

.header__item--bold {
  font-weight: 700;
}

.menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 40px;
  right: 0;
  background-color: #171717;
  width: 50px;
  height: 40px;
  z-index: 1;
}

.menu-burger__bar {
  margin: 3px 0;
  width: 65%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.menu-burger__bar:nth-child(1), .menu-burger__bar:nth-child(3) {
  width: 50%;
}

.menu-burger__bar--active:nth-child(2) {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.menu-burger__bar--active:nth-child(1), .menu-burger__bar--active:nth-child(3) {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #fff;
}

.content__container {
  margin: 50px 30px 0;
}

.content__title {
  font-size: 2.4rem;
}

@media (orientation: landscape) {
  .content__title {
    width: 50%;
  }
}

.content__description {
  margin-top: 20px;
  font-size: 1.2rem;
}

.menu-mobile {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #171717;
  border: 10px solid #fff;
}

.menu-mobile--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.menu-mobile__list {
  text-align: center;
  list-style: none;
}

.menu-mobile__item {
  padding: 10px 0;
  margin: 20px 0;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
}

@media (orientation: landscape) {
  .menu-mobile__item {
    padding: 0;
    margin: 30px 0;
  }
}
/*# sourceMappingURL=main.css.map */