* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

::-webkit-scrollbar {
  background-color: #fff;
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #171717;
}

.bg-first,
.bg-second,
.bg-third,
.bg-fourth,
.bg-fifth {
  position: fixed;
  top: 0;
  left: 50%;
  min-height: 100vh;
  width: 1px;
  background-color: #6e6e6e;
  opacity: 0.1;
  z-index: 2;
}

@media (min-width: 768px) {
  .bg-first {
    left: 33%;
  }
}

@media (min-width: 1024px) {
  .bg-first {
    left: 16.666%;
  }
}

.bg-second,
.bg-third,
.bg-fourth,
.bg-fifth {
  opacity: 0;
}

@media (min-width: 768px) {
  .bg-second {
    opacity: 0.1;
    left: 66%;
  }
}

@media (min-width: 1024px) {
  .bg-second {
    left: 33.332%;
  }
}

@media (min-width: 1024px) {
  .bg-third {
    opacity: 0.1;
    left: 49.998%;
  }
}

@media (min-width: 1024px) {
  .bg-fourth {
    opacity: 0.1;
    left: 66.664%;
  }
}

@media (min-width: 1024px) {
  .bg-fifth {
    opacity: 0.1;
    left: 83.33%;
  }
}

.container {
  position: relative;
  background-color: #171717;
  min-height: 100vh;
  border: 10px solid #fff;
  border-right: none;
}

@media (min-width: 768px) {
  .container {
    border: 20px solid #fff;
    border-right: none;
  }
}

.body-hidden {
  overflow: hidden;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100vh;
  background-color: #171717;
  overflow: hidden;
}

.header {
  height: 80px;
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    height: 120px;
  }
}

.header__logo {
  position: relative;
  width: 160px;
  padding: 35px 0 0 30px;
  cursor: pointer;
  z-index: 4;
}

@media (min-width: 768px) {
  .header__logo {
    position: fixed;
    width: 190px;
    padding: 60px 0 0 60px;
  }
}

.header__item {
  font-size: 1.6rem;
}

.header__item--bold {
  font-weight: 700;
}

.menu-burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 40px;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 999;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-burger {
    top: 80px;
    right: 80px;
  }
}

.menu-burger__bar {
  margin: 3px 0;
  width: 65%;
  height: 3px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

@media (min-width: 768px) {
  .menu-burger__bar {
    width: 90%;
    height: 4px;
  }
}

.menu-burger__bar:nth-child(1), .menu-burger__bar:nth-child(3) {
  width: 50%;
}

@media (min-width: 768px) {
  .menu-burger__bar:nth-child(1), .menu-burger__bar:nth-child(3) {
    width: 70%;
  }
}

.menu-burger__bar--active:nth-child(2) {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.menu-burger__bar--active:nth-child(1), .menu-burger__bar--active:nth-child(3) {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}

.menu-burger::before {
  content: "";
  position: fixed;
  width: 10px;
  top: 0;
  right: 0;
  height: 42px;
  background-color: #fff;
}

.menu-burger::after {
  content: "";
  position: fixed;
  top: 80px;
  right: 0;
  width: 10px;
  height: 100vh;
  background-color: #fff;
}

@media (min-width: 768px) {
  .menu-burger::before, .menu-burger::after {
    display: none;
  }
}

.menu-mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-color: #171717;
  border-left: 10px solid #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  z-index: 998;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

@media (min-width: 768px) {
  .menu-mobile {
    border: 20px solid #fff;
  }
}

.menu-mobile--active-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-mobile--active-opacity {
  opacity: 1;
}

.menu-mobile__list {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
}

.menu-mobile__item {
  margin: 20px;
  padding: 10px;
  font-size: 2.4rem;
  font-weight: 700;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-mobile__item {
    margin: 60px;
    font-size: 3.2rem;
  }
}

@media (min-width: 1024px) {
  .menu-mobile__item {
    font-size: 4.2rem;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  cursor: default;
}

.content__container {
  margin: 50px 30px 0;
}

@media (orientation: landscape) {
  .content__container {
    margin: 0px 30px 0;
  }
}

@media (min-width: 768px) {
  .content__container {
    margin: 0 60px 0;
  }
}

.content__title {
  height: 130px;
  font-size: 2.4rem;
}

@media (orientation: landscape) {
  .content__title {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .content__title {
    font-size: 3.2rem;
  }
}

@media (min-width: 1024px) {
  .content__title {
    font-size: 4.2rem;
  }
}

@media (min-width: 1440px) {
  .content__title {
    font-size: 5.2rem;
  }
}

@media (min-width: 1600px) {
  .content__title {
    font-size: 6.2rem;
  }
}

.content__description {
  margin-top: 25px;
  font-size: 1.2rem;
}

@media (orientation: landscape) {
  .content__description {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .content__description {
    font-size: 1.6rem;
    margin-top: 50px;
  }
}

@media (min-width: 1024px) {
  .content__description {
    width: 80%;
    font-size: 1.8rem;
  }
}

@media (min-width: 1440px) {
  .content__description {
    font-size: 2rem;
    margin-top: 100px;
  }
}

@media (min-width: 1600px) {
  .content__description {
    font-size: 2.4rem;
    margin-top: 140px;
  }
}

.arrow {
  position: absolute;
  bottom: 50px;
  left: 20px;
  width: 30px;
  height: 30px;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  -webkit-animation: arrowUpDown 3s infinite both ease;
          animation: arrowUpDown 3s infinite both ease;
}

@media (orientation: landscape) {
  .arrow {
    left: 10px;
  }
}

@media (min-width: 768px) {
  .arrow {
    left: 40px;
  }
}

.arrow__icon {
  width: 100%;
  height: 100%;
  background: url("/assets/arrow.svg") no-repeat center/cover;
}

.arrow__element {
  width: 2px;
  height: 80px;
  -webkit-transform: translate(14px, 10px);
          transform: translate(14px, 10px);
  background-color: #fff;
}

@-webkit-keyframes arrowUpDown {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes arrowUpDown {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  50% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.arrow-inactive {
  opacity: 0;
}

.equipment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  min-height: 100vh;
  background: url("/assets/base2blue.png") no-repeat center/cover;
  background-color: #0F3BCF;
  cursor: default;
}

@media (min-width: 768px) {
  .equipment {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .equipment {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.equipment__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  min-height: 250px;
  padding: 20px;
  border-bottom: 1px solid rgba(23, 23, 23, 0.1);
  background: url("/assets/invisible.png") no-repeat center/cover;
  -webkit-transition: background-image .3s;
  transition: background-image .3s;
  z-index: 3;
}

@media (min-width: 768px) {
  .equipment__item:nth-child(odd) {
    border-right: 1px solid rgba(23, 23, 23, 0.1);
  }
}

@media (min-width: 1024px) {
  .equipment__item:not(:nth-child(4n)) {
    border-right: 1px solid rgba(23, 23, 23, 0.1);
  }
}

.equipment__item:hover {
  -webkit-transition: background-image .3s;
  transition: background-image .3s;
}

.equipment__item:nth-child(1):hover {
  background: url("/assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(2):hover {
  background: url("/assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(3):hover {
  background: url("/assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(4):hover {
  background: url("/assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(5):hover {
  background: url("/assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(6):hover {
  background: url("/assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(7):hover {
  background: url("/assets/truck1.png") no-repeat center/cover;
}

.equipment__item:nth-child(8):hover {
  background: url("/assets/truck1.png") no-repeat center/cover;
}

.equipment__number {
  font-size: 1.4rem;
}

.equipment__number::after {
  content: '';
  display: block;
  width: 18px;
  height: 3px;
  margin-top: 6px;
  background-color: #caa708;
}

.equipment__title {
  margin: 25px 0 5px 0;
  font-size: 2.2rem;
}

.equipment__type {
  word-spacing: 10px;
  font-size: 1.2rem;
}

.about {
  width: 100%;
  min-height: 100vh;
  background-color: #442b2b;
}

.realizations {
  width: 100%;
  min-height: 100vh;
  background-color: #2fa79d;
}

.contact {
  width: 100%;
  min-height: 100vh;
  background-color: #caa708;
}
/*# sourceMappingURL=main.css.map */