* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: $colorWhite;

  @media (min-width: 768px) {
    overflow: hidden;
  }
}

body {
  counter-reset: realizations;
}

// Default scroll commands

// ::-webkit-scrollbar {
//   display: none;
//   width: 20px;
//   background-color: $colorWhite;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: $colorBlack;
// }