* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  // display: none;
  background-color: $colorWhite;
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: $colorBlack;
}