.scroll {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 20px;
    background-color: $colorWhite;
    z-index: 5;

    @media (min-width: 768px) {
        display: block;
    }

    &__bar {
        position: fixed;
        top: 20px;
        right: 0;
        width: 20px;
        height: 120px;
        background-color: $colorBlack;   
        transition: top .8s, background-color .8s;
    }
}