.about {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $colorBrown;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 100vh;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        cursor: default;

        @media (min-width: 768px) {
            justify-content: center;
            padding-right: 40px;

            &:nth-child(2){
                padding-right: 0;
                padding-left: 40px;
            }
        }
    }

    &__title {
        padding: 0 20px;
        font-size: 2.2rem;

        @media (min-width: 768px) {
            padding: 0 0 20px 20px;
            font-size: 2.4rem;
        }

        @media (min-width: 1024px) {
            font-size: 3.2rem;
        }

        @media (min-width: 1440px) {
            padding: 0 0 40px 20px;
            font-size: 3.6rem;
        }
    }

    &__description {
        padding: 20px 20px 40px;
        font-size: 1.4rem;

        @media (min-width: 768px) {
            font-size: 1.6rem;
        }

        @media (min-width: 1024px) {
            font-size: 1.8rem;
        }

        @media (min-width: 1440px) {
            font-size: 2.2rem;
        }

        @media (min-width: 1600px) {
            font-size: 2.4rem;
        }
    }

    &__button {
        align-self: center;
        margin: 0 30px 30px;
        padding: 10px 15px;
        border: 2px solid $colorWhite;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        box-sizing: content-box;
        white-space: nowrap;
        cursor: pointer;
        transition: background-color .4s, color .4s;

        &:hover {
            background-color: $colorWhite;
            color: $colorBrown;
        }

        @media (min-width: 768px) {
            padding: 10px 25px;
            margin: 0 30px 50px;
            font-size: 1.2rem;
        }

        @media (min-width: 1024px) {
            font-size: 1.6rem;
        }

        @media (min-width: 1440px) {
            margin: 0 30px 70px;
            font-size: 2rem;
        }

        @media (min-width: 1600px) {
            font-size: 2.2rem;
        }
    }
}