.container {
  position: relative;
  min-height: 100vh;
  border: 10px solid $colorWhite;
  border-top: none;
  border-right: none;
  border-bottom: none;
  background-color: $colorBlack;

  @media (min-width: 768px) {
    border: 20px solid $colorWhite;
    border-top: none;
    border-right: none;
  }
}

.body-hidden {
  overflow: hidden;
}

.wrapper-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: $colorBlack;
  z-index: 999;

  &__box {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 330px;
    height: 80px;
  }

  &__square {
    width: 15px;
    background-color: $colorOrange;
    margin-right: 8px;

    &-first {
      height: 10px;
      animation: square-first 3s .5s infinite linear both;
    }

    &-second {
      height: 25px;
      animation: square-second 3s .5s infinite linear both;
    }

    &-third {
      height: 40px;
    }

    &-fourth {
      height: 55px;
      animation: square-fourth 3s .5s infinite linear both;
    }

    &-fifth {
      height: 70px;
      animation: square-fifth 3s .5s infinite linear both;
    }

    @keyframes square-first {
      20% {
        height: 10px;
      }

      25% {
        height: 70px;
      }

      75% {
        height: 70px;
      }

      80% {
        height: 10px;
      }

    }

    @keyframes square-fifth {
      20% {
        height: 70px;
      }

      25% {
        height: 10px;
      }

      75% {
        height: 10px;
      }

      80% {
        height: 70px;
      }
    }

    @keyframes square-second {
      20% {
        height: 25px;
      }

      25% {
        height: 55px;
      }

      75% {
        height: 55px;
      }

      80% {
        height: 25px;
      }
    }

    @keyframes square-fourth {
      20% {
        height: 55px;
      }

      25% {
        height: 25px;
      }

      75% {
        height: 25px;
      }

      80% {
        height: 55px;
      }
    }
  }

  &__title {
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    text-transform: uppercase;
  }
}





