.contact {
  width: 100%;
  min-height: 100vh;
  border-bottom: 10px solid $colorWhite;
  background-color: $colorOrange;
  cursor: default;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: 20px solid $colorWhite;
  }

  @media (min-width: 1440px) {
    display: flex;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100%;
    text-align: center;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }

    @media (min-width: 1440px) {
      width: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    margin-bottom: 20px;
  }

  &__address {
    .contact__icon {
      background: url('../assets/place.svg') no-repeat center/50%;
    }
  }

  &__email {
    .contact__icon {
      background: url('../assets/email.svg') no-repeat center/50%;
    }
  }

  @media (min-width: 768px) {
    &__number-first {
      margin-left: 45px;
    }

    &__number-second {
      margin-right: 83px;
    }

    &__address {
      margin-left: 105px;
    }

    &__email {
      margin-right: 80px;
    }
  }

  @media (min-width: 1024px) {
    &__number-first {
      margin-left: 60px;
    }

    &__number-second {
      margin-right: 93px;
    }

    &__address {
      margin-left: 125px;
    }

    &__email {
      margin-right: 80px;
    }
  }

  @media (min-width: 1440px) {
    &__number-second {
      margin-right: 100px;
    }

    &__address {
      margin-left: 140px;
    }

    &__email {
      margin-right: 80px;
    }
  }

  @media (min-width: 1600px) {
    &__number-first {
      margin-left: 65px;
    }

    &__number-second {
      margin-right: 110px;
    }

    &__address {
      margin-left: 155px;
    }

    &__email {
      margin-right: 90px;
    }
  }

  &__icon-wrapper {
    position: relative;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid rgba($colorBlack, .1);
    z-index: 4;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: $colorOrange;
    }
  }

  &__icon {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../assets/phone.svg') no-repeat center/50%;
  }

  &__info {
    font-size: 1.6rem;

    @media (min-width: 1024px) {
      font-size: 2rem;
    }

    @media (min-width: 1600px) {
      font-size: 2.2rem;
    }

    &--bold {
      margin-top: 5px;
      font-size: 1.8rem;
      font-weight: 700;
      color: $colorBlack;

      @media (min-width: 1024px) {
        font-size: 2.2rem;
      }

      @media (min-width: 1600px) {
        font-size: 2.4rem;
      }
    }
  }

  .name {
    margin-bottom: 40px;
  }
}