.equipment {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  padding-bottom: 75px;
  background: url('../assets/img/equipment_bg.png') no-repeat center/cover;
  background-color: $colorBlue;
  cursor: default;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    padding-bottom: 0;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    min-height: 250px;
    padding: 20px;
    border-bottom: 1px solid rgba($colorBlack, .1);
    background: url('../assets/img/invisible.png') no-repeat center/cover;
    transition: background-image .3s;
    z-index: 3;

    @media (min-width: 768px) {
      &:nth-child(odd) {
        border-right: 1px solid rgba($colorBlack, .1);
      }
    }

    @media (min-width: 1024px) {

      &:not(:nth-child(4)),
      &:not(:nth-child(8)) {
        border-right: 1px solid rgba($colorBlack, .1);
      }
    }

    &:hover {
      transition: background-image .3s;
    }

    &:nth-child(2):hover {
      background: url('../assets/img/truck_01.png') no-repeat center/cover;
    }

    &:nth-child(3):hover {
      background: url('../assets/img/truck_02.png') no-repeat center/cover;
    }

    &:nth-child(4):hover {
      background: url('../assets/img/truck_03.png') no-repeat center/cover;
    }

    &:nth-child(5):hover {
      background: url('../assets/img/truck_01.png') no-repeat center/cover;
    }

    &:nth-child(6):hover {
      background: url('../assets/img/truck_02.png') no-repeat center/cover;
    }

    &:nth-child(7):hover {
      background: url('../assets/img/truck_03.png') no-repeat center/cover;
    }

    &:nth-child(8):hover {
      background: url('../assets/img/excavator_01.png') no-repeat center/cover;
    }

    &:nth-child(9):hover {
      background: url('../assets/img/excavator_02.png') no-repeat center/cover;
    }
  }

  &__number {
    font-size: 1.4rem;

    &::after {
      content: '';
      display: block;
      width: 18px;
      height: 3px;
      margin-top: 6px;
      background-color: $colorOrange;
    }
  }

  &__title {
    min-height: 55px;
    margin-top: 25px;
    font-size: 2.2rem;
  }

  &__type {
    min-height: 30px;
    font-size: 1.2rem;
    word-spacing: 10px;
  }
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: 768px) {
    display: none;
  }
}