.menu-burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  top: 40px;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 999;
  cursor: pointer;

  @media (min-width: 768px) {
    top: 80px;
    right: 80px;
  }

  &__bar {
    width: 65%;
    height: 3px;
    margin: 3px 0;
    background-color: $colorWhite;
    transition: transform 0.4s;

    @media (min-width: 768px) {
      width: 90%;
      height: 4px;
    }

    &:nth-child(1),
    &:nth-child(3) {
      width: 50%;

      @media (min-width: 768px) {
        width: 70%;
      }
    }

    &--active:nth-child(2) {
      transform: translateX(8px);
    }

    &--active:nth-child(1),
    &--active:nth-child(3) {
      transform: translateX(-6px);
    }
  }

  &::before,
  &::after {
    content: "";
    position: fixed;
    right: 0;
    width: 10px;
    background-color: $colorWhite;
    pointer-events: none;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &::before {
    top: 0;
    height: 42px;
  }

  &::after {
    top: 80px;
    height: 100vh;
  }
}

.menu-mobile {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  border-left: 10px solid $colorWhite;
  border-top: 10px solid $colorWhite;
  border-bottom: 10px solid $colorWhite;
  background-color: $colorBlack;
  z-index: 998;
  transition: opacity 0.4s;

  @media (min-width: 768px) {
    border: 20px solid $colorWhite;
  }

  &--active-display {
    display: flex;
  }

  &--active-opacity {
    opacity: 1;
  }

  &__list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    list-style: none;
  }

  &__item {
    margin: 20px;
    padding: 10px;
    font-size: 2.4rem;
    font-weight: 700;
    cursor: pointer;

    @media (min-width: 768px) {
      margin: 60px;
      font-size: 3.2rem;
    }

    @media (min-width: 1024px) {
      font-size: 4.2rem;
    }
  }
}