.realizations {
    position: relative;
    display: grid;
    grid-template-rows: 75px 1fr 1fr 1fr;
    width: 100%;
    min-height: 100vh;
    background-color: $colorAqua;
    overflow: hidden;
    cursor: default;

    @media (min-width: 768px) {
        grid-template-rows: 1fr 1fr 1fr;
        padding-bottom: 0;
    }

    @media (min-width: 1024px) {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 100%;
        padding: 20px 30px 0;
        // background: url('../assets/invisible.png') no-repeat center/cover;
        transition: background-image 2s;
        z-index: 3;

        &:hover {
            // background: url('../assets/base1aqua.png') no-repeat center/cover;
            transition: background-image 1s;
        }

        &:hover .realizations-wrapper {
            transform: translateY(-20px);
        }

        &:hover .realizations__more-description {
            transform: translateY(20px);
            opacity: 1;
        }

        &::before {
            content: '';
            position: absolute;
            top: 43%;
            left: 0;
            transform: translateY(-50%);
            width: 4px;
            height: 100px;
            background-color: $colorBlack;
            transition: height 1s, background-color 1s;

            @media(min-width: 768px) {
                top: 47%;
            }
        }

        &:hover::before {
            height: 200px;
            background-color: $colorWhite;
        }

        @media (min-width: 1024px) {
            &::after {
                counter-increment: realizations;
                content: '0'counter(realizations);
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 26rem;
                color: rgba(lighten($colorAqua, 5%), .2);
                pointer-events: none;
            }
        }

        @media (min-width: 1440px) {
            &::after {
                font-size: 32rem;
            }
        }

        @media (min-width: 1600px) {
            &::after {
                font-size: 36rem;
            }
        }
    }

    &__title {
        font-size: 2.4rem;
        margin-bottom: 10px;

        @media (min-width: 768px) {
            font-size: 3.2rem;
        }
    }

    &__description {
        font-size: 1.2rem;

        @media (min-width: 768px) {
            font-size: 1.4rem;
        }
    }

    &-wrapper {
        transition: transform 1s;
    }

    &__more-description {
        height: 130px;
        opacity: 0;
        font-size: 1.2rem;
        transition: transform 1s, opacity 1s;

        @media (min-width: 1024px) {
            font-size: 1.4rem;
        }
    }

}