.bg-first,
.bg-second,
.bg-third,
.bg-fourth,
.bg-fifth {
  position: fixed;
  top: 0;
  left: 51%;
  min-height: 100vh;
  width: 1px;
  background-color: $colorGray;
  opacity: $laneOpacity;
  z-index: 2;
}

.bg-first {
  @media (min-width: 768px) {
    left: 33%;
  }

  @media (min-width: 1024px) {
    left: 16.666%;
  }
}

.bg-second,
.bg-third,
.bg-fourth,
.bg-fifth {
  opacity: 0;
}

.bg-second {
  @media (min-width: 768px) {
    opacity: $laneOpacity;
    left: 66%;
  }

  @media (min-width: 1024px) {
    left: 33.332%;
  }
}

.bg-third {
  @media (min-width: 1024px) {
    opacity: $laneOpacity;
    left: 49.998%;
  }
}

.bg-fourth {
  @media (min-width: 1024px) {
    opacity: $laneOpacity;
    left: 66.664%;
  }
}

.bg-fifth {
  @media (min-width: 1024px) {
    opacity: $laneOpacity;
    left: 83.33%;
  }
}