.container {
  position: relative;
  background-color: $colorBlack;
  min-height: 100vh;
  border: 10px solid $colorWhite;
  border-right: none;

  @media (min-width: 768px) {
    border: 20px solid $colorWhite;
    border-right: none;
  }
}

.body-hidden {
  overflow: hidden;
}